<h2 class="heading bold">You have been invited to the following events</h2>

<div class="events">
  <% @invitations.each do |invitation| %>
    <div class="flex column gap-10">
      <%= render 'events/event', event: invitation.event %>

      <%= form_with url: event_invitation_path(invitation.event, invitation), html: { method: :delete }, data: { turbo: false } do |f| %>
        <div class="actions flex gap-10 align-self-center">
          <%= f.submit 'Accept' %>
          <%= f.submit 'Decline' %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
