<h2 class="heading bold">Upcoming Events</h2>

<div class="events">
  <% @upcoming_events.each do |event| %>
    <%= render 'event', event: event %>
  <% end %>
</div>

<% if @past_events.any? %>
  <h2 class="heading bold">Past Events</h2>

  <div class="events previous-events flex gap-20">
    <% @past_events.each do |event| %>
      <%= render 'event', event: event %>
    <% end %>
  </div>
<% end %>
