<h2 class="heading bold">Upcoming Events</h2>

<% if user_signed_in? %>
  <%= link_to 'Create Event', new_event_path %>
<% end %>

<div class="events-container flex gap-10">
  <% @events.each do |event| %>
    <%= render 'event', event: event %>
  <% end %>
</div>
