<h2 class="heading bold">Upcoming Events</h2>

<div class="events">
  <%= render @upcoming_events %>
</div>

<% if @past_events.any? %>
  <h2 class="heading bold">Past Events</h2>

  <div class="events previous-events flex gap-20">
    <%= render @past_events %>
  </div>
<% end %>
