<h1>Events</h1>

<div class="events-container">
  <% @events.each do |event| %>
    <div class="event">
      <p><%= event.name %><p>
      <p><%= event.date %></p>
      <p><%= event.location %></p>
    </div>
  <% end %>
</div>
