/* Misc*/

* { color: #ffffff; }

body { background-color: #1a2c36; }

div, aside { word-wrap: break-word; }

a {
  text-decoration: none;
  color: inherit;
}

a:hover { text-decoration: underline; }

.heading { font-size: 22px; }

.very-small { font-size: 12px; }

.small { font-size: 14px; }

.bold { font-weight: bold; }

.pad-10 { padding: 10px; }

.pad-20 { padding: 20px; }

/* Header */

.header {
  background-color: #615c5c48;
  padding: 10px;
}

.main-heading { font-size: 24px; }

.main-heading > span { color: #0ec2b3; }

.navigation { width: 100%; }

/* Flash */

.flash-messages {
  background-color: #000000b0;
  border-radius: 5px;
  margin-top: 20px;
}

.flash-messages .notice { color: #2a7c09; }

.flash-messages .alert { color: #960f0f; }

/* Forms */

form:not(.event-registration):not(.button_to):not(.search-form) {
  width: 380px;
  color: #000000;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.field, .field_with_errors { width: 100%; }

.field label {
  display: block;
  font-weight: bold;
}

.field > input:not([type="checkbox"]),
.field > textarea,
.field_with_errors input,
.field_with_errors textarea {
  width: 100%;
  color: #000000;
  padding: 4px;
  margin-top: 10px;
}

.search input {
  background-color: #615c5c48;
  font-size: 16px;
  border: 1px solid #ffffff18;
  padding: 5px;
  margin: 0;
  outline: none;
}

.field input:not([type="checkbox"]) { height: 30px; }

.field_with_errors input,
.field_with_errors textarea {
  border: 2px solid #6e0710;
  outline: none;
}

.error-field {
  width: max-content;
  background-color: #6e0710;
  padding: 5px;
  border-radius: 0 0 3px 3px;
}

.actions input[type="submit"], button {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  padding: 4px 10px 4px 10px;
  border: none;
}

form.button_to > button[type="submit"] {
  border: none;
  background: none;
  padding: 0;
}

form.button_to > button[type="submit"]:hover { cursor: pointer; }

.cancel-account { color: #c70b1b; }

/* events/index.html.erb */

.events {
  display: grid;
  grid-template-columns: repeat(auto-fit, 402px);
  gap: 20px;
}

.event {
  height: min(300px, max-content);
  line-height: 20px;
  border: 1px solid #7b818b2c;
  transition: all .6s ease-in;
}

.previous-events .event { filter: blur(2px); }

.event:hover { box-shadow: 1px 4px 10px #504b4b94; }

.event .event-date { color: #1a9cf3; }

.event .event-location, .event .event-author { max-width: 95%; }

/* events/show.html.erb */

.event-listing-bg-img {
  position: absolute;
  top: 20px;
  z-index: -1;
  filter: blur(45px);
}

.event-listing {
  width: min-content;
  background-color: #0b1920;
  border-radius: 5px;
  overflow: hidden;
}

.event-header {
  display: grid;
  grid-template-columns: 600px 370px;
  border-bottom: 1px solid #cccccc83;
}

.event-registration input[type="submit"] {
  width: 200px;
  color: #ffffff;
  font-size: 20px;
  background-color: #0e740e;
  padding: 5px 40px 5px 40px;
  border: none;
  border-radius: 4px;
}

.event-registration input[type="submit"]:hover {
  background-color: #0d810d;
  cursor: pointer;
}

.event-closed { color: #c70b1b; }

.event-attendees {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #cccccc83;
}

.event-details { padding: 30px 40px 30px 40px; }

.event-details .location, .event-details .date {
  max-width: 200px;
  position: relative;
  top: 4px;
}

.event-details .location > p, .event-details .date > p { line-height: 140%; }

.event-description { max-width: 65%; }

.event-description > p {
  line-height: 150%;
  word-wrap: break-word;
  white-space: pre-wrap;
}

/* users/show.html.erb */

.user-card {
  border: 2px solid #c9c2c2;
  border-radius: 4px;
}
